@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,900;1,400;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #EDEBD2;
    overflow-y: scroll;
}

.navbar {
    height: 50px;
    background-color: black !important;
}

.nav-item {
    margin-right: 10px;
}

.navbar-nav .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
}

.navbar-nav .nav-link:hover {
    color: #EDEBD2 !important;
}

.navbar-nav .nav-link.active {
    background-color: transparent !important;
    border-radius: 5px;
}

.navbar-nav .nav-item.active .nav-link {
    color: #EDEBD2 !important;
    font-weight: 500 !important;
}

.heading {
    margin-top: 25px;
}

.heading h1 {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 45px;
}

.heading h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 22px;
    margin-bottom: 20px;
}

.banner img {
    width: 1920px;
    height: 450px;
    object-fit: cover;
    object-position: center bottom;
}

.banner .btn {
    border-radius: 25px;
}

.banner .position-absolute {
    display: flex;
    gap: 20px;
    transform: translateY(500%);
}

.banner .position-absolute .btn {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    background-color: black;
    color: white;
    border: none;
    margin-bottom: -10px;
    margin-right: 0px;
}

.banner .position-absolute .btn:hover {
    background-color: rgb(237, 167, 178);
    color: black;
}

.modal-content {
    border-radius: 10px;
}

.modal-header {
    background-color: #333;
    border-bottom: none;
}

.close {
    color: #fff;
    opacity: 1;
    font-size: 1.5em;
}

.modal-footer {
    border-top: none;
}

.modal-title {
    font-family: 'Playfair Display', sans-serif;
    font-size: 20;
    color: #fff;
}

.modal-body p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    font-weight: bold;
    color: #333;
    line-height: 1.5;
}

.modal-body ul {
    list-style-type: disc;
    padding-left: 40px;
}

.modal-body ul li {
    font-family: 'Poppins', sans-serif;
    font-size: 1.2em;
    color: #333;
    line-height: 1.5;
}

.feedback-section h2 {
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    color: #000000;
}

.feedback-section p {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.feedback-container .btn {
    color: white;
    background-color: black;
    border-radius: 25px;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

.feedback-container .btn:hover {
    color: black;
    background-color: rgb(237, 167, 178);
}

.feedback-container .btn:focus {
    outline: none !important;
    box-shadow: 0 0 10px #e4d2d2 !important;
}

.help-container .nav-link {
    font-family: 'Poppins', sans-serif;
    font-size: 21px;
    color: #000000;
    opacity: 0.55;
}

.help-container .nav-link.active {
    border: none;
    outline: none;
    opacity: 1;
    color: #000000;
    background-color: transparent;
    border-bottom: 2px solid #000000;
}

.help-container .nav-link.active::after {
    content: '';
    display: block;
}

.help-container .nav-link:hover {
    color: rgb(237, 167, 178);
}

.tab-content {
    font-family: 'Poppins', sans-serif;
    line-height: 1.5;
    padding: 20px;
}

.tab-content ul,
.tab-content ol {
    list-style-position: inside;
    padding-left: 30px;
}

.tab-content ul li,
.tab-content ol li {
    font-size: 1em;
    margin-bottom: 10px;
}

.tab-content ol li {
    font-weight: bold;
}

.tab-content ul li {
    font-weight: normal;
    font-style: italic;
}

.tab-content p {
    margin-bottom: 20px;
}

.contact-form {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.contact-form .btn {
    font-size: 18px;
    padding: 10px 20px;
}

.submit-btn {
    background-color: black;
    color: white; 
    transition: background-color 0.3s ease; 
}

.submit-btn:hover {
    color: #000000 !important;
    background-color: pink;
}

.submit-btn:focus {
    outline: none;
}

#description {
    height: auto;
    padding: 10px;
    font-family: 'Poppins', sans-serif;
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: auto;
}

.care-title {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 30px;
    color: #000000
}

.image-container {
    position: relative;
    padding: 0;
    margin: 0;
    height: 100vh;
    overflow: hidden;
    box-sizing: border-box;
}

.care-img {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    object-fit: cover;
    transition: transform 0.3s ease;
    cursor: pointer;
    box-sizing: border-box;
}

.care-img:hover {
    transform: scale(1.1);
}

.image-label {
    position: absolute;
    color: white;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.countdown-container {
    border-radius: 100px;
    background: #e4d2d2;
    color: #333;
    padding: 10px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    margin-top: 12px !important;
    height: 50% !important;
}

.countdown-container h2 {
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.countdown-item {
    border-right: 1px solid #dee2e6;
    padding: 20px;
}

.countdown-item:last-child {
    border-right: none;
}

.countdown-item h3 {
    font-size: 48px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    margin-bottom: 0;
}

.countdown-item p {
    font-size: 16px;
    font-family: 'Poppins', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

footer.bg-dark.text-white.py-4.mt-5 {
    background-color: #000000 !important;
    font-family: 'Poppins', sans-serif;
}

.btn-login {
    color: black;
    background-color: white;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;

}

.btn-login:hover {
    background-color: black;
    color: white;
}

.btn-signup {
    color: white;
    background-color: #000000;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.btn-signup:hover {
    background-color: #ffffff;
}

input::placeholder {
    font-size: 14px;
    color: #6c757d;
    opacity: 1;
}

.form-control {
    border: 1px solid #ced4da;
    /* Bootstrap's default border color */
    border-radius: 5px;
    padding: 10px 15px;
    font-size: 14px;
    transition: border-color 0.3s ease;
}

.modal-header {
    display: flex;
    justify-content: center;
    position: relative;
}

.modal-title {
    flex-grow: 1;
    text-align: center;
}

.modal-header .close {
    position: absolute;
    right: 15px;
    top: 15px;
}

.forgot-password {
    display: block;
    margin-top: 10px;
    font-size: 14px;
    text-align: right;
}

.forgot-password a {
    color: #0c0c0c;
    text-decoration: none;
}

.forgot-password a:hover {
    text-decoration: underline;
}

.button-group {
    text-align: center;
}

.button-group .btn {
    margin: 5px;
}

.bottom-right-toast {
    position: fixed;
    right: 20px;
    bottom: 0;
    z-index: 9999;
    transition: opacity 0.3s ease, transform 0.3s ease;
    opacity: 0;
    transform: translateX(100%);
}

.bottom-right-toast.show {
    opacity: 1;
    transform: translateX(0);
}

.validation-icon {
    position: absolute;
    right: 10px;
    top: calc(50% - 0.5em);
    transition: all 0.3s ease;
}

.validation-icon::before {
    font-family: "Bootstrap Icons";
    font-size: 1.2em;
    transition: all 0.3s ease;
}

.form-control.is-valid,
.form-control.is-invalid {
    padding-right: 2.5rem;
}

.form-control.is-valid~.validation-icon::before {
    content: '\2713';
    color: #28a745;
}

.form-control.is-invalid~.validation-icon::before {
    content: '\2717';
    color: #dc3545;
}

.error-message {
    color: red;
}

button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}